<!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
      <script src="https://use.fontawesome.com/83374ddceb.js"></script>
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
      <link href="style.css" rel="stylesheet" type="text/css">
    </head>

    <body>
        <div class="navbar-fixed" id="home">
            <nav class="blue">
                <div class="container">
                    <div class="nav-wraper">
                        <a href="/index" class="brand-logo">SpaceDecor</a>
                        <a href="#" class="sidenav-trigger" data-target="mobile-nav">
                            <i class="material-icons">menu</i>
                        </a>
                        <ul class="right hide-on-med-and-down">
                            <li class="options"><a href="/index">Services</a></li>
                            <li class="options"><a href="/kitchen">Kitchen</a></li>
                            <li class="options"><a href="/bedroom">Bedrooms</a></li>
                            <li class="options"><a href="/otherservices">OtherServices</a></li>
                            <li class="options"><a href="/contact">Contact</a></li>
                        </ul>
                    </div>
                </div>

            </nav>
        </div>
        <ul class="sidenav" id="mobile-nav">
            <li class="options"><a href="/index">Services</a></li>
            <li class="options"><a href="/kitchen">Kitchen</a></li>
            <li class="options"><a href="/bedroom">Bedrooms</a></li>
            <li class="options"><a href="/otherservices">OtherServices</a></li>
            <li class="options"><a href="/contact">Contact</a></li>
        </ul>

    <!--Showcase-->
    <section>
        <h2 class="black-text text-darken-6 center h2p">Modular Kitchen Designs</h2>
    <div class="row">
        <div class="col l4 m4 s12">
            <div class="container">
                <div class="card sticky-action">
                    <div class="card-image">
                        <img src="/css/images/Kitchen/kit1.jpg" class="materialboxed">                        
                        <a class="btn red btn-floating halfway-fab pulse activator">+</a>
                    </div>
                    <div class="card-content">
                        <p class="center">Compact Single Stretch Kitchen</p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title">Details<i class="right">x</i></span>
                        <h6> <span class="blue-text"> Cost </span> = 1500$</h6>
                        <h6> <span class="blue-text"> Dimensions </span> = 12ft x 3.5ft</h6>
                    </div>
                    <div class="card-action">
                        <a href="/contact">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col l4 m4 s12">
            <div class="container">
                <div class="card sticky-action">
                    <div class="card-image">
                        <img src="/css/images/Kitchen/kit2.jpg" class="materialboxed">                        
                        <a class="btn red btn-floating halfway-fab pulse activator">+</a>
                    </div>
                    <div class="card-content">
                        <p class="center">Off-White L shaped Kitchen</p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title">Details<i class="right">x</i></span>
                        <h6> <span class="blue-text"> Cost </span> = 1600$</h6>
                        <h6> <span class="blue-text"> Dimensions </span> = 8ft x 3.5ft</h6>
                    </div>
                    <div class="card-action">
                        <a href="/contact">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col l4 m4 s12">
            <div class="container">
                <div class="card sticky-action">
                    <div class="card-image">
                        <img src="/css/images/Kitchen/kit3.jpg" class="materialboxed">                        
                        <a class="btn red btn-floating halfway-fab pulse activator">+</a>
                    </div>
                    <div class="card-content">
                        <p class="center">Maple Wood Kitchen</p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title">Details<i class="right">x</i></span>
                        <h6> <span class="blue-text"> Cost </span> = 2000$</h6>
                        <h6> <span class="blue-text"> Dimensions </span> = 16ft x 3.5ft</h6>
                    </div>
                    <div class="card-action">
                        <a href="/contact">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col l4 m4 s12">
            <div class="container">
                <div class="card sticky-action">
                    <div class="card-image">
                        <img src="/css/images/Kitchen/kit4.jpg" class="materialboxed">                        
                        <a class="btn red btn-floating halfway-fab pulse activator">+</a>
                    </div>
                    <div class="card-content">
                        <p class="center">L shaped Kitchen With Chimney</p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title">Details<i class="right">x</i></span>
                        <h6> <span class="blue-text"> Cost </span> = 1500$</h6>
                        <h6> <span class="blue-text"> Dimensions </span> = 12ft x 3.5ft</h6>
                    </div>
                    <div class="card-action">
                        <a href="/contact">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col l4 m4 s12">
            <div class="container">
                <div class="card sticky-action">
                    <div class="card-image">
                        <img src="/css/images/Kitchen/kit5.jpg" class="materialboxed">                        
                        <a class="btn red btn-floating halfway-fab pulse activator">+</a>
                    </div>
                    <div class="card-content">
                        <p class="center">Sparkling White U-Shaped Kitchen </p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title">Details<i class="right">x</i></span>
                        <h6> <span class="blue-text"> Cost </span> = 1600$</h6>
                        <h6> <span class="blue-text"> Dimensions </span> = 8ft x 3.5ft</h6>
                    </div>
                    <div class="card-action">
                        <a href="/contact">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col l4 m4 s12">
            <div class="container">
                <div class="card sticky-action">
                    <div class="card-image">
                        <img src="/css/images/Kitchen/kit6.jpg" class="materialboxed">                        
                        <a class="btn red btn-floating halfway-fab pulse activator">+</a>
                    </div>
                    <div class="card-content">
                        <p>Belgium-Chocolate L-shaped Kitchen</p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title">Details<i class="right">x</i></span>
                        <h6> <span class="blue-text"> Cost </span> = 1600$</h6>
                        <h6> <span class="blue-text"> Dimensions </span> = 8ft x 3.5ft</h6>
                    </div>
                    <div class="card-action">
                        <a href="/contact">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col l4 m4 s12">
            <div class="container">
                <div class="card sticky-action">
                    <div class="card-image">
                        <img src="/css/images/Kitchen/kit7.jpg" class="materialboxed">                        
                        <a class="btn red btn-floating halfway-fab pulse activator">+</a>
                    </div>
                    <div class="card-content">
                        <p>Yellow-Grey L shaped Kitchen</p>
                    </div>
                     <div class="card-reveal">
                        <span class="card-title">Details<i class="right">x</i></span>
                        <h6> <span class="blue-text"> Cost </span> = 1600$</h6>
                        <h6> <span class="blue-text"> Dimensions </span> = 8ft x 3.5ft</h6>
                    </div>
                    <div class="card-action">
                        <a href="/contact">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col l4 m4 s12">
            <div class="container">
                <div class="card sticky-action">
                    <div class="card-image">
                        <img src="/css/images/Kitchen/kit8.jpg" class="materialboxed">                        
                        <a class="btn red btn-floating halfway-fab pulse activator">+</a>
                    </div>
                    <div class="card-content">
                        <p>Royal-Brown U-Shaped Kitchen</p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title">Details<i class="right">x</i></span>
                        <h6> <span class="blue-text"> Cost </span> = 1600$</h6>
                        <h6> <span class="blue-text"> Dimensions </span> = 8ft x 3.5ft</h6>
                    </div>
                    <div class="card-action">
                        <a href="/contact">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col l4 m4 s12">
            <div class="container">
                <div class="card sticky-action">
                    <div class="card-image">
                        <img src="/css/images/Kitchen/kit19.jpg" class="materialboxed">                        
                        <a class="btn red btn-floating halfway-fab pulse activator">+</a>
                    </div>
                    <div class="card-content">
                        <p>Single-Stretch compact Kitchen</p>
                    </div>
                     <div class="card-reveal">
                        <span class="card-title">Details<i class="right">x</i></span>
                        <h6> <span class="blue-text"> Cost </span> = 1600$</h6>
                        <h6> <span class="blue-text"> Dimensions </span> = 8ft x 3.5ft</h6>
                    </div>
                    <div class="card-action">
                        <a href="/contact">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col l4 m4 s12">
            <div class="container">
                <div class="card sticky-action">
                    <div class="card-image">
                        <img src="/css/images/Kitchen/kit10.jpg" class="materialboxed">                        
                        <a class="btn red btn-floating halfway-fab pulse activator">+</a>
                    </div>
                    <div class="card-content">
                        <p>Stylish-steel-with-white-L-Shaped-Kitchen</p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title">Details<i class="right">x</i></span>
                        <h6> <span class="blue-text"> Cost </span> = 1600$</h6>
                        <h6> <span class="blue-text"> Dimensions </span> = 8ft x 3.5ft</h6>
                    </div>
                    <div class="card-action">
                        <a href="/contact">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col l4 m4 s12">
            <div class="container">
                <div class="card sticky-action">
                    <div class="card-image">
                        <img src="/css/images/Kitchen/kit11.jpg" class="materialboxed">                        
                        <a class="btn red btn-floating halfway-fab pulse activator">+</a>
                    </div>
                    <div class="card-content">
                        <p>White-Spacious-U shaped Kitchen</p>
                    </div>
                     <div class="card-reveal">
                        <span class="card-title">Details<i class="right">x</i></span>
                        <h6> <span class="blue-text"> Cost </span> = 1600$</h6>
                        <h6> <span class="blue-text"> Dimensions </span> = 8ft x 3.5ft</h6>
                    </div>
                    <div class="card-action">
                        <a href="/contact">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col l4 m4 s12">
            <div class="container">
                <div class="card sticky-action">
                    <div class="card-image">
                        <img src="/css/images/Kitchen/kit12.jpg" class="materialboxed">                        
                        <a class="btn red btn-floating halfway-fab pulse activator">+</a>
                    </div>
                    <div class="card-content">
                        <p>L shaped Kitchen</p>
                    </div>
                     <div class="card-reveal">
                        <span class="card-title">Details<i class="right">x</i></span>
                        <h6> <span class="blue-text"> Cost </span> = 1600$</h6>
                        <h6> <span class="blue-text"> Dimensions </span> = 8ft x 3.5ft</h6>
                    </div>
                    <div class="card-action">
                        <a href="/contact">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col l4 m4 s12">
            <div class="container">
                <div class="card sticky-action">
                    <div class="card-image">
                        <img src="/css/images/Kitchen/kit13.jpg" class="materialboxed">                        
                        <a class="btn red btn-floating halfway-fab pulse activator">+</a>
                    </div>
                    <div class="card-content">
                        <p>Brown-White L-shaped Kitchen</p>
                    </div>
                     <div class="card-reveal">
                        <span class="card-title">Details<i class="right">x</i></span>
                        <h6> <span class="blue-text"> Cost </span> = 1600$</h6>
                        <h6> <span class="blue-text"> Dimensions </span> = 8ft x 3.5ft</h6>
                    </div>
                    <div class="card-action">
                        <a href="/contact">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col l4 m4 s12">
            <div class="container">
                <div class="card sticky-action">
                    <div class="card-image">
                        <img src="/css/images/Kitchen/kit14.jpg" class="materialboxed">                        
                        <a class="btn red btn-floating halfway-fab pulse activator">+</a>
                    </div>
                    <div class="card-content">
                        <p class="center">U shaped Kitchen</p>
                    </div>
                     <div class="card-reveal">
                        <span class="card-title">Details<i class="right">x</i></span>
                        <h6> <span class="blue-text"> Cost </span> = 1600$</h6>
                        <h6> <span class="blue-text"> Dimensions </span> = 8ft x 3.5ft</h6>
                    </div>
                    <div class="card-action">
                        <a href="#/contact">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col l4 m4 s12">
            <div class="container">
                <div class="card sticky-action">
                    <div class="card-image">
                        <img src="/css/images/Kitchen/kit15.jpg" class="materialboxed">                        
                        <a class="btn red btn-floating halfway-fab pulse activator">+</a>
                    </div>
                    <div class="card-content">
                        <p class="center">U shaped Kitchen</p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title">Details<i class="right">x</i></span>
                        <h6> <span class="blue-text"> Cost </span> = 1600$</h6>
                        <h6> <span class="blue-text"> Dimensions </span> = 8ft x 3.5ft</h6>
                    </div>
                    <div class="card-action">
                        <a href="/contact">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col l4 m4 s12">
            <div class="container">
                <div class="card sticky-action">
                    <div class="card-image">
                        <img src="/css/images/Kitchen/kit16.jpg" class="materialboxed">                        
                        <a class="btn red btn-floating halfway-fab pulse activator">+</a>
                    </div>
                    <div class="card-content">
                        <p class="center">U shaped Kitchen</p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title">Details<i class="right">x</i></span>
                        <h6> <span class="blue-text"> Cost </span> = 1600$</h6>
                        <h6> <span class="blue-text"> Dimensions </span> = 8ft x 3.5ft</h6>
                    </div>
                    <div class="card-action">
                        <a href="/contact">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col l4 m4 s12">
            <div class="container">
                <div class="card sticky-action">
                    <div class="card-image">
                        <img src="/css/images/Kitchen/kit17.jpg" class="materialboxed">                        
                        <a class="btn red btn-floating halfway-fab pulse activator">+</a>
                    </div>
                    <div class="card-content">
                        <p class="center">U shaped Kitchen</p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title">Details<i class="right">x</i></span>
                        <h6> <span class="blue-text"> Cost </span> = 1600$</h6>
                        <h6> <span class="blue-text"> Dimensions </span> = 8ft x 3.5ft</h6>
                    </div>
                    <div class="card-action">
                        <a href="/contact">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col l4 m4 s12">
            <div class="container">
                <div class="card sticky-action">
                    <div class="card-image">
                        <img src="/css/images/Kitchen/kit18.jpg" class="materialboxed">                        
                        <a class="btn red btn-floating halfway-fab pulse activator">+</a>
                    </div>
                    <div class="card-content">
                        <p>The Royal Kitchen</p>
                    </div>
                     <div class="card-reveal">
                        <span class="card-title">Details<i class="right">x</i></span>
                        <h6> <span class="blue-text"> Cost </span> = 1600$</h6>
                        <h6> <span class="blue-text"> Dimensions </span> = 8ft x 3.5ft</h6>
                    </div>
                    <div class="card-action">
                        <a href="/contact">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
        <footer class="section blue darken-2 white-text center">
            <p class="flow-text">SpaceDecor &copy; 2020 </p>            
        </footer> 

        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script>
            // Sidenav
            const sideNav = document.querySelector('.sidenav');
            M.Sidenav.init(sideNav,{});
            //Slider            
            const mb = document.querySelectorAll('.materialboxed');
            M.Materialbox.init(mb, {});
        </script>
</body>
</html>