.secp{
    margin-top: 35px;
}
.pops{
    margin-top: 90px;
}
.pops h2{
    margin-bottom: 40px;
}
.gsection{
    margin-top: 50px;
}
.h2p{
    margin-top: 80px;
    margin-bottom: 60px;
}
.rcontainer
{
    margin-top: 210px;    
}